/*****************************
SEARCH HEAD 
******************************/
.search-head {
  position: fixed;
  height: 5.6rem;
  width: 98%;
  justify-content: space-between;
  z-index: 999;
  top: 0;
}

.menu-logo {
  margin-left: 1.2rem;
}

.yt-icon {
  width: 3.6rem;
  height: 3.6rem;
  display: inline-block;
}

.search {
  border: none;
  width: 40rem;
  height: 3.6rem;
  padding: 1.2rem;
  border: 0.5px solid rgb(182, 184, 184);
  border-top-left-radius: 9rem;
  border-bottom-left-radius: 9rem;
}

.search-box {
  display: flex;
  gap: 0;
}

.search-icon-box {
  background-color: rgb(245, 245, 245);
  border: 0.5px solid rgb(182, 184, 184);
  border-collapse: collapse;
  height: 3.6rem;
  padding: 1.2rem 1.8rem;
  border-top-right-radius: 9rem;
  border-bottom-right-radius: 9rem;
  transition: all 0.3s;
}

.search-icon-box:hover {
  background-color: rgb(230, 230, 230);
}

.search-nav-icon-box {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.search-nav-icon-box:hover {
  background-color: var(--hover-color);
}

.search-nav-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.search-nav-icon-box:hover {
  background-color: var(--hover-color);
}

/*****************************
TAGS HEAD 
******************************/
.tags-head {
  position: fixed;
  width: 82%;
  margin-top: 6rem;
  margin-left: 22rem;
  top: 0.2rem;
  display: flex;
  align-items: center;
}
.tags {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  overflow-x: scroll;
}
.tags-head .search-nav-icon-box {
  margin: 0 3.6rem 0 3.6rem;
  padding: 1.8rem;
}
.arrow {
  font-size: 1.8rem;
  opacity: 0;
}
.tags-head:hover .arrow {
  opacity: 1;
}

.tags::-webkit-scrollbar {
  display: none;
}

.tag:link,
.tag:visited {
  display: inline-block;
  font-size: 1.3rem;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 9px;
  padding: 0.8rem 1.6rem;
  color: black;
  white-space: nowrap;
}
.tag:hover,
.tag:active {
  background-color: rgba(0, 0, 0, 0.1);
}
/*****************************
TIMELINE 
******************************/
.timeline {
  display: block;
  height: calc(100vh - 10.5rem);
  margin-left: 23.5rem;
  margin-top: 10.5rem;
  padding: 3.2rem;
  padding-right: 2.4rem;
  overflow-y: scroll;
}
.timeline-container {
}

.showmore:link,
.showmore:visited {
  display: block;
  width: 100%;
  margin-top: 2.4rem;
  height: 4.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showmore:hover,
.showmore:active {
  background-color: var(--hover-color);
}

/*****************************
VIDEO 
******************************/
.timeline-videos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 4.8rem;
  column-gap: 2.4rem;
  padding-bottom: 3.6rem;
}
.timeline-videos:first-child {
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
}
.shorts-container {
  margin: 3.6rem 0 3.6rem 0;
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
}
.timeline-shorts {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2.4rem;
}

.video-block {
  display: inline-block;
  position: relative;
  /* width: 31rem; */
  height: 24rem;
  width: 100%;
}

.shorts-block {
  display: inline-block;
  position: relative;
  width: 100%;
}

.shorts-thumbnail {
  width: 100%;
  height: 31.2rem;
  object-fit: cover;
  border-radius: 1.4rem;
}
.thumbnail {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1.4rem;
}
.video-icon {
  position: absolute;
  opacity: 0;
  height: 2.4rem;
  width: 2.4rem;
  fill: white;
  background-color: black;
  border-radius: 0.3rem;
}
.icon-1 {
  top: 2%;
  right: 2%;
}
.icon-2 {
  right: 2%;
  top: 15%;
}
.length {
  font-size: 1rem;
  color: white;
  background-color: black;
  padding: 0.2rem 0.4rem;
  border-radius: 0.5rem;
  position: absolute;
  right: 2%;
  top: 62%;
}

.pfp-title-icon {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 1.2rem;
  margin-top: 1rem;
}
.video-title {
  font-size: 1.4rem;
  color: black;
}
.shorts-block .video-title {
  font-size: 1.5rem;
  font-weight: 500;
}
.video-info {
  font-size: 1.2rem;
  color: #606060;
}
.channel-name {
}
.video-stats {
}
.icon-more {
  width: 1.8rem;
  height: 1.8rem;
  stroke: grey;
  opacity: 0;
}

.shorts-block .pfp-title-icon {
  grid-template-columns: auto 1fr;
  column-gap: 2px;
}

.video-block:hover,
.shorts-block:hover,
.video-block:hover .video-icon,
.video-block:hover .icon-more,
.shorts-block:hover .icon-more {
  opacity: 1;
  cursor: pointer;
}

.shorts-head {
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
}

/*****************************
NAV 
******************************/
.navigation {
  position: fixed;
  height: calc(100vh - 4.5rem);
  width: 22rem;
  margin-top: 5.6rem;
  overflow-y: scroll;
  margin-left: 1.2rem;
  top: 0;
}

.kids {
  transform: rotate(-8deg);
}

.first-nav,
.second-nav,
.third-nav,
.fourth-nav,
.fifth-nav,
.sixth-nav,
.seventh-nav {
  display: flex;
  list-style: none;
  flex-direction: column;
}

.nav-title {
  display: inline-block;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  padding: 0.8rem 0rem 0.8rem 0.8rem;
  border-radius: 12px;
  color: black;
}

.nav-link:hover,
.nav-link:active {
  background-color: var(--hover-color);
}

.nav-link-text {
  font-size: 1.4rem;
}

hr {
  border: none;
  border-top: 0.1px solid rgb(182, 184, 184);
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

/*****************************
FOOTER 
******************************/
.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  margin-bottom: 1.6rem;
}
.copyright {
  margin-bottom: 6.4rem;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.2rem;
  color: grey;
}
.footer-link:hover,
.footer-link:active {
  text-decoration: underline;
}
